.container {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
	box-sizing: border-box;
}

.toggleTheme {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #727272;
	background-color: #fff;
	transition: background-color 0.3s ease;
}

.content {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 15px;
	margin: 10px 0;
}

.contentTask {
	display: flex;
	justify-content: flex-end;
	align-items: stretch;
	max-width: 1280px;
	gap: 15px;
}

.text {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	box-shadow: #727272 0 0 10px;
	padding: 10px;
	border-radius: 5px;
	overflow-x: hidden;
}

.contentTask .text{
	flex: 15;
	word-wrap: break-word;
}

.emptyTodoList {
  font-weight: 700;
  margin-bottom: 25px;
}

.loader {
	display: flex;
	place-content: center;
	margin: 20px auto;
	width: 25px;
	height: 25px;
	border: 5px solid #727272;
	border-radius: 50%;
	border-top-color: transparent;
	animation: spin 1s infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


.change {
	display: flex;
	place-content: center;
	place-items: center;
	gap: 15px;
	border-bottom: 1px solid #727272;
	padding: 10px 0;
}



